PORT=5000
MONGO_URI=mongodb+srv://sharmeenkhan2308_db_user:GhostBreachDB2026Secure3@cluster0.9ojowqb.mongodb.net/ghostbreach_soc?appName=Cluster0
JWT_SECRET=ee0e01ae6285601a7d58b8bb9b24694f40161ccdb70252f1dc0c65070b3135f4
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
